In [1]:
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm

In [2]:
with open('../Corpora/movies-pp.txt', 'r') as file:
    movies = file.readlines()

vocab = set()
for movie in movies:
    vocab.update(set(movie.split()))

## Initial Parameters

In [39]:
alpha = 0.02
beta = 0.1
iter_n = 500
topic_n = 20

In [40]:
print(len(vocab))
vocab = np.array(list(vocab))
print(vocab)

46517
['top-billed' 'winkless' 'examiner' ... 'billion' 'tiresomely' 'thorton']

# Initializing Z

Contains the topic assignment for each word in the corpus.

In [41]:
# Initializing Z as a pandas DataFrame ()
flat_list = [word for movie in movies for word in movie.split()]

docs_list = []
step = 0
for movie in movies:
    for word in movie.split():
        docs_list.append(step)
    step+=1

z = pd.DataFrame(data={'words':flat_list,
                       'topic':np.random.randint(0, topic_n, len(flat_list)),
                       'doc':docs_list})

print(z)

           words  topic   doc
0           2000     14     0
1           plot     11     1
2            two     16     1
3           teen      1     1
4        couples     18     1
...          ...    ...   ...
698780    niccol      1  2000
698781      next     16  2000
698782      film     11  2000
698783  whatever     13  2000
698784       may     15  2000

[698785 rows x 3 columns]

# Initializing Nd,k

contains the number of words assigned to each topic in a document

In [122]:
# Creating a dataframe with counts of words assigned to each topic
N_d_k = pd.DataFrame()

# Iterating over the documents in the 'movies' list of documents
for i in tqdm(range(len(movies))):
    # Series with zeroes initialized with length topic_n
    init_row = pd.Series(np.zeros(topic_n), dtype='int64')
    
    # Creating a dataframe with words within this document
    doc = z[z['doc']==i]
    
    # summing the zeros row with the count of words assigned to each topic.
    # performs sum on index
    w_counts = doc['topic'].value_counts() + init_row
    
    # Filling NaN values to zero
    w_counts = w_counts.fillna(0)
    
    # Appends the 
    N_d_k = N_d_k.append(w_counts, ignore_index=True)

HBox(children=(IntProgress(value=0, max=2001), HTML(value='')))

In [123]:
N_d_k.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,15.0,14.0,15.0,15.0,19.0,20.0,19.0,13.0,17.0,10.0,19.0,26.0,11.0,22.0,12.0,23.0,14.0,17.0,18.0,13.0
2,5.0,7.0,4.0,8.0,8.0,8.0,5.0,7.0,2.0,11.0,5.0,9.0,11.0,5.0,7.0,2.0,11.0,3.0,7.0,4.0
3,15.0,11.0,8.0,17.0,8.0,21.0,6.0,12.0,11.0,13.0,10.0,10.0,14.0,13.0,10.0,15.0,17.0,20.0,15.0,17.0
4,16.0,9.0,11.0,10.0,21.0,12.0,9.0,9.0,14.0,13.0,9.0,19.0,11.0,17.0,10.0,20.0,12.0,11.0,19.0,12.0

# Initializing Nk,w

the number of times the word W is assigned to the topic K

In [158]:
# filtrar por tópico
N_k_w = pd.DataFrame(index = vocab)
#vocab_dict = dict(vocab)
#print(N_k_w)

for topic in range(topic_n):
    doc = z[z['topic']==topic]
    doc = doc['words'].value_counts()
    N_k_w[topic] = doc
    
N_k_w = N_k_w.fillna(0)

In [157]:
N_k_w.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
agree,5.0,4.0,1.0,2.0,7.0,3.0,3.0,1.0,5.0,2.0,6.0,0.0,3.0,3.0,3.0,3.0,2.0,3.0,1.0,3.0
bibb,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
billion,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0
tiresomely,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
thorton,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0

# Initializing nk

The number of times any word is assigned to topic k

In [161]:
N_k = N_k_w.sum()

In [ ]:
# Global context counts

# number of times the current word appears with the current topic

In [51]:
for j in range(iter_n):
    for document in movies:
        
        for word in document:
            current_topic = z[word]

SyntaxError: invalid syntax (<ipython-input-51-eb4beaba3eff>, line 3)

# Pseudo-Code

```Input: words w ∈ documents d  
Output: topic assignments z and counts nd,k , nk,w , and nk  
begin    
    randomly initialize z and increment counters  
    foreach iteration do  
        for i = 0 → N − 1 do  
            word ← w[i]  
            topic ← z[i]  
            nd,topic -=1; nword,topic -=1; ntopic -=1  
            for k = 0 → K − 1 do  
                p(z = k|·) = (nd,k + αk ) nkk,w  +βw+β×W  
            end  
            topic ← sample from p(z|·)  
            z[i] ← topic  
            nd,topic +=1; nword,topic +=1; ntopic +=1  
        end    
    end  
    return z, nd,k , nk,w , nk  
end  ```